{
    "apiVersion": "apps.openshift.io/v1",
    "kind": "DeploymentConfig",
    "metadata": {
        "name": "jupyterhub-db",
        "namespace": "{{ meta.namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    },
    "spec": {
        "replicas": 1,
        "selector": {
            "app": "jupyterhub",
            "deploymentconfig": "jupyterhub-db"
        },
        "strategy": {
            "type": "Recreate"
        },
        "template": {
            "metadata": {
                "labels": {
                    "app": "jupyterhub",
                    "deploymentconfig": "jupyterhub-db"
                }
            },
            "spec": {
                "containers": [
                    {
                        "name": "postgresql",
                        "env": [
                            {
                                "name": "POSTGRESQL_USER",
                                "value": "jupyterhub"
                            },
                            {
                                "name": "POSTGRESQL_PASSWORD",
                                "value": "{{ db_password }}"
                            },
                            {
                                "name": "POSTGRESQL_DATABASE",
                                "value": "jupyterhub"
                            }
                        ],
                        "livenessProbe": {
                            "tcpSocket": {
                                "port": 5432
                            }
                        },
                        "ports": [
                            {
                                "containerPort": 5432,
                                "protocol": "TCP"
                            }
                        ],
                        "resources": {
                            "limits": {
                                "memory": "{{ db_memory }}"
                            }
                        },
                        "readinessProbe": {
                            "exec": {
                                "command": [
                                    "/bin/sh",
                                    "-i",
                                    "-c",
                                    "psql -h 127.0.0.1 -U $POSTGRESQL_USER -q -d $POSTGRESQL_DATABASE -c 'SELECT 1'"
                                ]
                            }
                        },
                        "volumeMounts": [
                            {
                                "mountPath": "/var/lib/pgsql/data",
                                "name": "data"
                            }
                        ]
                    }
                ],
                "volumes": [
                    {
                        "name": "data",
                        "persistentVolumeClaim": {
                            "claimName": "jupyterhub-db"
                        }
                    },
                    {
                        "name": "config",
                        "configMap": {
                            "name": "jupyterhub-cfg",
                            "defaultMode": 420
                        }
                    }
                ]
            }
        },
        "triggers": [
            {
                "imageChangeParams": {
                    "automatic": true,
                    "containerNames": [
                        "postgresql"
                    ],
                    "from": {
                        "kind": "ImageStreamTag",
                        "name": "postgresql:{{ jupyterhub_db_version }}",
                        "namespace": "openshift"
                    }
                },
                "type": "ImageChange"
            },
            {
                "type": "ConfigChange"
            }
        ]
    }
}
